[submodule "godot/commonalities"]
	path = godot/commonalities
	url = git@github.com:xtiandiaz/godot-commonalities
[submodule "vue/submodules/design-tokens"]
	path = vue/submodules/design-tokens
	url = git@github.com:xtiandiaz/design-tokens.git
[submodule "vue/submodules/tungsten"]
	path = vue/submodules/tungsten
	url = git@github.com:xtiandiaz/tungsten.git
[submodule "vue/submodules/vueties"]
	path = vue/submodules/vueties
	url = git@github.com:xtiandiaz/vueties.git
