@use './design-tokens/palette';
@use './design-tokens/typography';
@use './design-tokens/iconography';

$nav-height: 3em;

* {
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

html { 
  @include palette.color-attributes((
    'color': 'body',
    'background-color': 'secondary-background'
  ));
}

html, body {
  margin: 0;
  overflow: hidden;
}

html, body, #app {
  width: 100%;
  height: 100%;
}

#app {
  overflow: auto;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: $nav-height;
}

nav {
  @extend .toolbar;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 0.25em;
  @include palette.color-attribute('background-color', 'secondary-background');
  
  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
}

main {
  width: 100%;
  margin: $nav-height 0 0 0;
  
  &.game {
    margin: 0;
    height: 100%;
    overflow: hidden;
    
    section {
      $h-padding: 0.5em;
      $v-padding: 1.5em;
      
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: $v-padding $h-padding;
      width: calc(100% - $h-padding * 2);
      height: calc(50% - $v-padding * 2);
      
      &#screen {
        gap: 0.25em;
        
        h1 {
          margin-bottom: 0.25em;
        }
        
        h6 {
          margin: 0;
        }
      }
    }
  }
}

div.spacer {
  flex: auto;
}
  
button {
  border: none;
  background: none;
  background-color: transparent;
  padding: 0.25em 0.5em;
  font-size: 1em;
  
  @include palette.color-attributes((
    'color': 'body'
  ));

  &.iconized {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25em;
    
    .icon {
      font-size: 1.25em;
    }
    span.annotation {
      @extend .caption, .all-caps;
      @include palette.color-attribute('color', 'secondary-body');
    }
    // span.label {
    // }
  }
      
  &.clear {
    border-color: transparent;
    background-color: transparent;
  }
  
  &:hover:enabled {
    cursor: pointer;
  }
  
  // &:active:enabled {
  //   transform: scale(85%);
  //   transition: transform 0.1s;
  // }
  
  &:disabled {
    background-color: transparent;
    opacity: 25%;
  }
}

.icon {
  &.back {
    @include iconography.colored-icon-content-attribute('chevron-left', 'body');
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0 0 1em 0;
  padding: 1em;
  // max-width: 800px;
  
  ul {
    display: flex;
    flex-direction: column;
    gap: 1px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    @include palette.color-attribute('background-color', 'secondary-background');
    
    div.header {
      margin: 0 1.25em 0.75em 1.25em;
      span.title {
        @extend .caption, .all-caps;
        @include palette.color-attribute('color', 'tertiary-body');
      }
    }
    
    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      min-height: 3.5em;
      vertical-align: middle;
      margin: 0;
      padding: 0 1em;
      @include palette.color-attribute('background-color', 'background');
      
      &:first-of-type {
        border-radius: 1em 1em 0 0;
      }
      &:last-of-type {
        border-radius: 0 0 1em 1em;
      }
      &:only-of-type {
        border-radius: 1em;
      }
    }
  }
}

@keyframes spin {
  100% { rotate: 180deg; }
}

#spinner {
  animation: spin 1s linear 0s infinite;
  display: block;
  width: 3em;
  height: 3em;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  @include iconography.colored-icon-content-attribute('spinner', 'accessory');
}

// div.modal {
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background-color: rgba(black, 0.85);
//   z-index: 100;
// }

/*
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
    }
    }
    
    @media (min-width: 1024px) {
      body {
        display: flex;
        place-items: center;
        }
        
  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
