@use './design-tokens/palette';
@use './design-tokens/typography';
@use './design-tokens/iconography';
@use '@vueties/styles/bars';

* {
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

html { 
  @include palette.color-attributes((
    'color': 'body',
    'background-color': 'secondary-background'
  ));
}

html, body {
  margin: 0;
  overflow: hidden;
}

html, body, #app {
  width: 100%;
  height: 100%;
}

#app {
  overflow: auto;
}

nav {
  @include palette.color-attribute('background-color', 'secondary-background');
}

main {
  // width: 100%;
  margin: calc(bars.$nav-bar-height + 0.25em) 0 0 0;
  
  &.game {
    margin: 0;
    height: 100%;
    overflow: hidden;
    
    section {
      $h-padding: 0.5em;
      $v-padding: 1.5em;
      
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: $v-padding $h-padding;
      width: calc(100% - $h-padding * 2);
      height: calc(50% - $v-padding * 2);
      
      &#screen {
        gap: 0.25em;
        
        h1 {
          margin-bottom: 0.25em;
        }
        
        h6 {
          margin: 0;
        }
      }
    }
  }
}

div.spacer {
  flex: auto;
}

@keyframes spin {
  100% { rotate: 180deg; }
}

#spinner {
  animation: spin 1s linear 0s infinite;
  display: block;
  width: 3em;
  height: 3em;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  @include iconography.colored-icon-content-attribute('spinner', 'accessory');
}

// div.modal {
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background-color: rgba(black, 0.85);
//   z-index: 100;
// }

/*
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
    }
    }
    
    @media (min-width: 1024px) {
      body {
        display: flex;
        place-items: center;
        }
        
  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
