@use './design-tokens/palette';
@use './design-tokens/typography';
@use './design-tokens/iconography';

html {
  @include palette.color-attributes((
    'background-color': 'secondary-background'
  ));
}

html, body {
  height: 100%;
  margin: 0;
  @include palette.color-attributes((
    'color': 'body'
  ));
}

#app {
  // max-width: 1280px;
  width: 100%;
  height: 100%;
  // margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
  // padding: 2rem;
}

div.button-bar {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

button {
  border: 1px solid;
  padding: 0.25em 0.5em;
  border-radius: 4em;
  @include palette.color-attributes((
    'border-color': 'accessory',
    'background-color': 'background'
  ));
}

button.iconized {
  font-size: 1.5em;
}

button.iconized.medium {
  font-size: 2em;
}

button:hover {
  @include palette.color-attributes((
    'background-color': 'tertiary-background'
  ));
}

.icon.define {
  @include iconography.colored-icon-content-attribute('dictionary', 'blue');
}

.icon.search {
  @include iconography.colored-icon-content-attribute('globe', 'indigo');
}

.icon.search-images {
  @include iconography.colored-icon-content-attribute('image', 'purple');
}

.icon.reset {
  @include iconography.colored-icon-content-attribute('gear', 'secondary-body');
  width: 1em;
  height: 1em;
}

@keyframes spin {
  100% { rotate: 180deg; }
}

#spinner {
  @include iconography.colored-icon-content-attribute('spinner', 'accessory');
  animation: spin 1s linear 0s infinite;
  display: block;
  width: 3em;
  height: 3em;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

/*

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
