$tint-color: 'body' !default;

$tag-color: 'tertiary-body';
$tag-background-color: 'tertiary-body' !default;
$tag-background-opacity: 0.1;

$key-color: 'body' !default;
$key-background-color: 'background' !default;
