@use './design-tokens/palette';
@use './design-tokens/typography';
@use './design-tokens/iconography';
@use '@vueties/styles/bars';

* {
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

html { 
  @include palette.color-attributes((
    'color': 'body',
    'background-color': 'secondary-background'
  ));
}

html, body, main {
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

#app {
  $padding-bottom: env(safe-area-inset-bottom);
  
  height: calc(100% - $padding-bottom);
  overflow: auto;
  padding-bottom: $padding-bottom;
}

main.game section {
  $h-padding: 0.5em;
  $v-padding: 1.5em;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: $v-padding $h-padding;
  width: calc(100% - $h-padding * 2);
  height: calc(50% - $v-padding * 2);
  
  &#screen {
    gap: 0.25em;
    
    h1 {
      margin-bottom: 0.25em;
    }
    
    h6 {
      margin: 0;
    }
  }
}
