@use '@design-tokens/palette';
@use '@design-tokens/typography';
@use '@vueties/styles/utils';
@use '@vueties/styles/bars';

* {
  @extend .inhibit-contextual-touch-action;
}

html { 
  @include palette.color-attributes((
    'color': 'body',
    'background-color': 'secondary-background'
  ));
}

html, body, main {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

#app {
  @include utils.safe-area();
}
